MOODLE_ADMIN_PASS=Admin321
MOODLE_FULL_NAME=SMKN 1 Karawang
MOODLE_SHORT_NAME=Neskar
MOODLE_ADMIN_EMAIL=admin@smkn1karawang.sch.id
MOODLE_SUPPORT_EMAIL=support@smkn1karawang.sch.id

MOODLE_DB_TYPE=pgsql
MOODLE_DB_HOST=db
MOODLE_DB_NAME=moodle_dev
MOODLE_DB_USER=postgres
MOODLE_DB_PASS=postgres
MOODLE_DB_PORT=5432
MOODLE_DB_PREFIX=mdl_
MOODLE_MIGRATE_DB=false
MOODLE_WWWROOT=http://localhost:8080

UNIT_WEBROOT=/var/www/html
NGINX_WEBROOT=/var/www/html
